{% extends '../../layout.html' %}
{% block content %}
    <h4>List Page</h4>
    <a href="{% url 'productType_create' %}" class="btn btn-dark">Añadir</a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ object.id }}</td>
                <td>{{ object.name }}</td>
                <td>
                    <div style="display: flex;flex: auto; flex-direction: row; width: 50%;">
                        <a class="btn btn-warning" href="{% url 'productType_update' object.id %}"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger" href="{% url 'productType_delete' object.id %}"><i class="bi bi-trash"></i></a>
                        <a class="btn btn-info" href="{% url 'productType_details' object.id %}"><i class="bi bi-eye"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}